<!DOCTYPE html>
<html>
<head>
    <title>Text Detail</title>
</head>
<body>
    <h1>Text {{ text.title }} Detail</h1>
    <p><strong>Text Content:</strong> {{ text.content }}</p>

    <h2>Sentiment Analysis Results:</h2>

    <h3>TextBlob:</h3>
    <p>Score: {{ text.sentiment_textblob }}</p>
    <p>{{ sentiment_interpretations.textblob }} - text.sentiment_textblob</p>

    <h3>VADER:</h3>
    <p>Score: {{ text.sentiment_vader }}</p>
    <p>{{ sentiment_interpretations.vader }} - text.sentiment_vader</p>

    <h3>Hugging Face Transformers:</h3>
    <p>Score: {{ text.sentiment_transformer }}</p>
    <p>{{ sentiment_interpretations.transformer }} - text.sentiment_transformer</p>
</body>
</html>
